@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik+Moonrocks&display=swap');

#content{
    max-width : 1600px

}
#content{
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;

}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}

body {
    background-color:#8ECAE6; 
    font-family: Rubik, Arial, sans-serif;
    font-size: 22px;
    padding: 0; 
    margin: 0;
}
h2 {
    margin: 0;
}
header {
    background-color:rgba(33, 158, 188);
}
nav a:hover {
    background-color: black;
}
.book, .join{
    background-color: azure;
}
.book:hover, .join:hover{
    background-color: blue;
}
#background{
    background-color: cyan;
}
.msg{
    background-color: cornsilk;

}
footer{
    background-color: grey;
    padding: 25px 50px;
    margin-top: 200px;
}

nav a:hover{
    color: chocolate;
}
.home-title{
    color: darkslategrey;
    font-size: 2em;
    margin-top: 10px;
    font-family: "Moonrocks", 'Bradley Hand', sans-serif;
}
h4{
    color: fuchsia;
}
.book, .join{
    color: orange;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    color: pink;
}
.msg {
    color: darksalmon;
    line-height : 1.5em;
    padding : 35px;
    font-family: "Moonrocks", 'Bradley Hand', sans-serif;
}
.msg p{
    color: cadetblue;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3{
    color: mintcream;
}
footer a{
    color: lavender;
    text-decoration: none;
}
footer a:hover{
    color: beige;
    text-decoration: underline;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card{
    margin: 200px 0;
}
.camping-card{
    margin: 200px 0;
}
.rapids-card{
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
